#root {
  text-align: center;
}

ul {
  list-style: none;
}

/* HEADER */

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 217, 244);
  padding: 0 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.header--logo {
  margin-left: 20px;
  width: 50px;
}

.header--title {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  align-items: center;
  margin: 0;
  padding-top: 20px;
}

/* NAVEBAR */

.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(44, 40, 57);
  width: 100%;
}

.nav > a {
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav > a:hover {
  transform: scale(1.1);
  color: rgb(155, 177, 227);
}

/* HOME */

.home > h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: lowercase;
  margin-top: 50px;
  margin-bottom: 20px;
}

.home--link {
  display: block;
  margin: 0 auto;
  width: 150px;
  padding: 20px 40px;
  margin-top: 50px;
  font-size: 1.3rem;
  background-color: rgb(155, 177, 227);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: rgb(44, 40, 57);
  box-shadow: 0px 0px 15px 1px rgb(31, 42, 66);
}

.home--link:hover {
  transform: scale(1.1);
  color: aliceblue;
}

/* TOPICS LIST */

.topics-list > h2 {
  padding-top: 30px;
}

.topics {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.topics > li {
  width: 250px;
  padding: 20px;
  background-color: rgb(205, 217, 244);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.topics > li:hover {
  transform: scale(1.1);
}

.topics > li > h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: midnightblue;
}

.topics > li > p {
  text-transform: lowercase;
  color: midnightblue;
}

/* ARTICLES LIST */

.articles > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.articles > li > img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid white;
}

.articles > li:hover {
  transform: scale(1.1);
}

.articles > li > p {
  font-style: italic;
}

/* SINGLE ARTICLE */

.article {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article--title {
  font-size: 1.7rem;
  padding-bottom: 0;
}

.article--topic {
  padding-top: 0;
  font-style: italic;
  text-transform: lowercase;
}

.article--img {
  border-radius: 10px;
  margin-bottom: 40px;
}

.article--author {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 5px;
}

/* COMMENTS */

.comments {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(205, 217, 244, 0.622);
  padding: 0 30px;
  border-radius: 5px;
}

.comments > ul {
  text-align: left;
}

.comments--title {
  text-align: left;
  padding-top: 20px;
}

.comments--card {
  background-color: rgba(155, 177, 227, 0.772);
  padding: 10px 30px;
  margin: 20px 40px 20px 20px;
  border-radius: 5px;
  border: 2px solid rgba(244, 243, 243, 0.75);
}

.comments--stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(82, 78, 95);
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .articles > li > img,
  .article--img {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .articles > li > img,
  .article--img {
    max-width: 100%;
  }
  .articles > li > h3,
  .article--title {
    font-size: 14px;
    line-height: 1.2;
  }

  .articles > li > p,
  .article--body,
  .article--author {
    font-size: 12px;
  }
}
